<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

    <!-- <nav>
        <h2>Best Books</h2>
        <ul>
            <li>Search</li>
            <li>Home</li>
            <li>My Books</li>
        </ul>
    </nav> -->
    <form action="/searches" method="post">
        <h1>Search by Title or Author:</h1>
        <input class="searchBox" type="text" name="searchQuery" placeholder="Enter a title or author" required>
        <fieldset>
            <label>Title</label><input class="radio" type="radio" name="search" value="+intitle" required>
            <label>Author</label><input class="radio" type="radio" name="search" value="+inauthor" required>
        </fieldset>
        
        <button class="searchButton" type="submit">Search the Google Books API</button>
    </form>
</body>
</html>