<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Search</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Search by Title or Author</h1>
    <form action="/searches" method='post'>
        <input type="text" name="searchQuery" placeholder="Enter a title or author" required>
        <fieldset>
            <label>Title</label><input type="radio" name="search" value="intitle">
            <label>Author</label><input type="radio" name="search" value="inauthor">
        </fieldset>
        
        <button class="searchButton" type="submit">Search the Google Books API</button>
    </form>
</body>
</html>