form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width:40%;
    margin: 10px 0px 10px 0px;
    
}

form input {
    margin: 14px;
    height: 28px;
    border-radius: 7px;
    border-style: none;

}
form h1 {
    border: thin solid black;
    background-color: rgb(104, 103, 103);
    color: whitesmoke;
    border-radius: 7px;
    height: 60px;
    font-size: 30px;
    width: 80%;
    line-height: 60px;
}

#searchHeader {
    font-size: 50px;
}

#searchForm {
    border: thin solid black;
    background-color: darkgray;
    padding: 14%;
}

label {
    border: thin solid black;
    margin: 7px;
    padding: 7px;
}

.searchBox {
    width: 80%;
    height: 60px;
    font-size: larger;
    text-align: center;
}

fieldset {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    font-size: larger;
}

fieldset> label{
    border: thin solid black;
    border-radius: 14px;
    background-color: blanchedalmond;
    margin: 10px 0px 20px 0px ;
    padding: 7px;
    width: 97%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.searchButton {
    width: 80%;
    height: 60px;
    border-radius: 7px;
    border-style: none;
    background-color: black;
    color: whitesmoke;
    font-size: larger;
}

a button{
    color: rgb(26, 20, 173);
    background-color: cornsilk;
    width: 80%;
}

.resultsMain {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bookRender {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    padding: 3px;
    align-items: center;
    margin: 21px 0;
    background-color: cornsilk;
    border-radius: 7px;
    box-shadow: 3px 4px ;
    height: auto;
    
}

.bookRender img, h2, h3, p{
    margin: 5px 0;
    font-size: large;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.bookRender p {
    border: black;
}

.book-synopsis-container{
    height: 30%;
    width: 80%;
    overflow-y: auto;
    box-sizing: content-box;
  }

.submitButton {
    background-color: darkgrey;
    border-radius: 7px;
}
.buttonSearchesLink {
    margin: 20px 0px 10px 0px;
    border-radius: 7px;
    width: 150px;
    height: 30px;
}

.CollectionLinkButton {
    margin-top: 20px;
    border-radius: 7px;
}

h5 {
    font-size: larger;
}

/* Add to Database */
.addBookForm {
    background: none;
    /* height: auto;
    width: auto; */
}

.addBookField {
    display: none;
}


@media(min-width: 960px){
    .resultsMain{
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        
    }
    .bookRender{
        max-width: 40%;
        height: 550px;
        /* overflow: hidden; */
    }

    /* article {
        width: 50%;
    } */

    .book-synopsis-container{
        height: 30%;
        width: 80%;
        overflow-y: auto;
        box-sizing: content-box;
        margin-bottom: 10px;
      }

}